services:
    nginx:
        image: nginx
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./static:/usr/share/nginx/static:ro
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
            - ./conf.d:/etc/nginx/conf.d:ro
            - ./certs:/etc/nginx/certs:ro
        links:
            -   app
    app:
        image: debian:bookworm-slim
        ports:
            - 8062:8062
        volumes:
            - ./target/debug/cooking:/srv/cooking
        command: "/srv/cooking"
        links:
            - redis
            - redka
    redis:
        image: redis 
    redka:
        image: nalgeon/redka
        volumes:
            - ./db:/data
        ports:  
            - 6379:6379

